<h1>New errand</h1>
<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <p><%= f.text_field :title %></p>

  <%= f.label :details %>
  <p><%= f.text_area :details %></p>

  <%= f.submit %>
<% end %>
<p><%= link_to 'Home', tasks_path %></p>
